/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

*{ margin: 0; padding: 0;}
body {
	/*To hide the horizontal scroller appearing during the animation*/
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}

canvas {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
}

img {
  position : absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -130px;
  transform: rotate(10deg);  
  z-index: 9999;
}

#clouds{
	position: relative;
	height: 100%;
	z-index: 9999;
}

/*Time to finalise the cloud shape*/
.cloud {
    margin-left: 0;
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: absolute; 
	transition: transform 1s linear, top 1s linear, opacity 1s linear;
}

.cloud.active-cloud {
	top: 410px !important;
	left: calc(50vw - 110px) !important;
	opacity: 1 !important;
	-webkit-transform: scale(5) !important;
	-moz-transform: scale(5) !important;
	transform:scale(5) !important;
	opacity : 1;
	-webkit-animation: initial !important;
	moz-animation:initial !important;
	-o-animation:initial !important;
	
}

.robot {
    cursor:pointer;
}
.thinking {
    bottom: 0;
    height: 300px;
    position: absolute;
    right: 0;
    width: 250px;
    z-index: 9999;
    display: none;
}
.thinking ul li {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
}
.cloud:before, .cloud:after, .thinking ul li:after, .thinking ul li:before {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after, .thinking ul li:after{
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}



@-webkit-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -100%;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -100%;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 100%;}
	100% {margin-left: -100%;}
}
.search {
	position: absolute;
}

.x2 .first-ball, .x2 .second-ball {
    background-color: white;
    border-radius: 30px;
    height: 30px;
    margin-left: 130px;
    margin-top: 20px;
    width: 30px;
}
.x2 .second-ball {
    height: 15px;
    margin-left: 168px;
    width: 15px;
}
.x3 .first-ball, x3.second-ball {
    background-color: white;
    border-radius: 30px;
    height: 30px;
    margin-left: 130px;
    margin-top: 20px;
    width: 30px;
    
    position: absolute;
    left: 90px;
    top: 8px;
}
.x3 .second-ball {
background-color: #fff;
    border-radius: 10px;
    height: 15px;
    margin-left: 264px;
    width: 15px;
}


.with-hover:hover:after,
.with-hover:hover:before,
.with-hover:hover,
.with-hover:hover .first-ball,
.with-hover:hover .second-ball{
    background: #DDD none repeat scroll 0 0
}
.with-hover {
    cursor:pointer;
    
}
.x2 {
	left: 0px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 1; /*opacity proportional to the size*/
}

.x2 .opened-dream {
    font-size: 25px;
    font-weight: bold;
    margin: 11px auto 0;
    width: 87%;
    
}

.x3 {
    top: 82px;
	left: -80px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 1; /*opacity proportional to the size*/
}

.x3 .opened-dream {
    font-size: 25px;
    font-weight: bold;
    margin: 11px auto 0;
    width: 77%;
    
}

.opened-dream {
    position: relative;
    z-index: 1;
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform:scale(0.2);
	display: inline-block;
	width: 100%;
	height: 100%;
	top: -30%;
}

.dreamer-avatar {
	left: -130%;
}

.dream-title {
	position: relative;
	top: -170%;
	font-size: 3em;
	font-weight: bold;
	width: 480px;
}