<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.dreambox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.DreamBoxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/HomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DreamActivity"></activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"></activity>
        <activity android:name=".activity.DreamerActivity"></activity>
        <activity
            android:name=".activity.DreamDetail"
            android:label="@string/title_activity_dream_detail" />
        <activity android:name=".activity.EditProfileActivity"></activity>
    </application>

</manifest>
