<div class="opened-dream" ng-controller="SignupController as signup">
	<form name="signupForm" novalidate ng-submit="signup.signup()">
		<label>Nome:</label><input type="text" ng-model="signup.newUser.name" required />
		<label>Sobrenome:</label><input type="text" ng-model="signup.newUser.last_name" required />
		<label>Email:</label><input type="email" ng-model="signup.newUser.email" required />
		<label>Senha:</label><input type="password" ng-model="signup.newUser.password" required />
		<input type="submit" value="Criar Realizador" ng-disabled="!signupForm.$valid" />
	</form>
</div>